<div class="dropdown">
    <ul class="help">
        <li class="help__item">
            <a href="#" class="help__link">Как это работает</a>
        </li>
        <li class="help__item">
            <a href="#" class="help__link">Вопрос-ответ</a>
        </li>
        <li class="help__item">
            <a href="#" class="help__link">Служба поддержки</a>
        </li>
        <li class="help__item help__btn">
            <button class="btn btn-enter">Войти</button>
        </li>
        
    </ul>
</div>