<header class="header">
    <div class="wrapper-header">
        <div class="header-button">
            <button class="btn btn-enter">Войти</button>
        </div>
        
        <div class="header-logo">
            <a href="#" class="header-logo__link">
                <img src="./img/desktop/Logo.png" alt="logo" class="header-logo__desktop-img">
                <img src="./img/mobile/logo_mob.png" alt="logo" class="header-logo__mobile-img">
            </a>
        </div>
        <div class="header-help">Помощь</div>
        <div class="header-mobile-humburger">
            <span class="humburger__menu"></span>
        </div>
        //= dropdown.html
    </div>
</header>