<div class="modal">
  <div class="modal_backdrop"></div>
  <div class="modal_content">
    <div class="modal_btn-close"></div>
    <div class="modal_header">
      Введите логин и пароль для входа в Личный кабинет
    </div>
    <form action="/" class="form">
      <div class="form-row">
          <input type="text" name="login" class="form-row__input" placeholder="Логин">
      </div>
      <div class="form-row">
        <input type="password" name="password" class="form-row__input" placeholder="Пароль">
      </div>
      <div class="form-row">
        <button class="form-row__input form-row__btn">Войти</button>
      </div>
    </form>

    <div class="modal_links forgot-password">
      <a href="#" class="forgot-password__link">Забыли пароль?</a>
    </div>
    <div class="modal_links signup">
      <a href="#" class="sign-up__link">Регистрация</a>
    </div>
  </div>
</div>